
.user-info{
    text-align: center;
    background-color:burlywood;
    margin: 0  30px;
    border-radius: 2em;
    padding: 0 5px;
}
.user-info img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
@media screen and (max-width:768px){
    .user-info img{
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }
}